body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

input {
  margin: 5px 0;
  padding: 8px;
  width: 250px;
}

button {
  padding: 8px 12px;
  margin-top: 5px;
  cursor: pointer;
}